@model ProAuto.DTOs.EditarAssociadoDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="proauto-main">
    <section class="main-card">
        <header>
            <div class="main-card-icon">
                <i class="fa-solid fa-person"></i>
            </div>
            <div>
                <span>
                    Dados Associado
                </span>
            </div>
        </header>
        <div class="main-card-content">
            <div class="d-flex">
                <div class="proauto-form wid-100">
                    <label asp-for="Associado!.Nome" class="control-label"></label>
                    <input asp-for="Associado!.Nome" class="form-control" disabled />
                </div>
            </div>

            <div class="d-flex">
                <div class="proauto-form wid-50">
                    <label asp-for="Associado!.CPF" class="control-label"></label>
                    <input asp-for="Associado!.CPF" class="form-control mascara-cpf" disabled />
                </div>
                <div class="proauto-form wid-50">
                    <label asp-for="Associado!.Telefone" class="control-label"></label>
                    <input asp-for="Associado!.Telefone" class="form-control mascara-telefone" disabled />
                </div>
            </div>
        </div>
    </section>
    <section class="main-card">
        <header>
            <div class="main-card-icon">
                <i class="fa-solid fa-car-side"></i>
            </div>
            <div>
                <span>
                    Veículos
                </span>
            </div>
        </header>
        <div class="main-card-content">
            <form asp-controller="veiculos" asp-action="registrar" method="post">
                <div class="veiculos-sub">
                    <span>Placas cadastradas</span>
                </div>
                <div class="veiculos-placas">
                    @foreach (var item in Model.Associado!.Veiculos!)
                    {
                        <div class="placa-row">
                            <span>
                                @Html.DisplayFor(modelItem => item.Placa)
                            </span>
                        </div>
                    }
                </div>
                <div class="proauto-form">
                    <input asp-for="NovoVeiculo!.AssociadoId" type="hidden" readonly />
                    <label class="control-label">Nova Placa</label>
                    <input asp-for="NovoVeiculo!.Placa" class="form-control" />
                    <span asp-validation-for="NovoVeiculo!.Placa" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="proauto-btn">Adicionar
                        Veículo</button>
                </div>
            </form>
        </div>
    </section>
    <section class="main-card">
        <header>
            <div class="main-card-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div>
                <span>
                    Endereço
                </span>
            </div>
        </header>
        <div class="main-card-content">
            <form asp-controller="enderecos" asp-action="editar" method="post">
                <input asp-for="NovoEndereco!.Id" type="hidden" readonly />
                <input asp-for="NovoEndereco!.AssociadoId" type="hidden" readonly />
                <div class="d-flex">
                    <div class="proauto-form wid-50">
                        <label asp-for="NovoEndereco!.Estado" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Estado" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Estado" class="text-danger"></span>
                    </div>
                    <div class="proauto-form wid-50">
                        <label asp-for="NovoEndereco!.Cidade" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Cidade" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="proauto-form wid-50">
                        <label asp-for="NovoEndereco!.Bairro" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Bairro" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Bairro" class="text-danger"></span>
                    </div>
                    <div class="proauto-form wid-50">
                        <label asp-for="NovoEndereco!.Complemento" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Complemento" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Complemento" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="proauto-form wid-30">
                        <label asp-for="NovoEndereco!.Numero" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Numero" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Numero" class="text-danger"></span>
                    </div>
                    <div class="proauto-form wid-100">
                        <label asp-for="NovoEndereco!.Rua" class="control-label"></label>
                        <input asp-for="NovoEndereco!.Rua" class="form-control" />
                        <span asp-validation-for="NovoEndereco!.Rua" class="text-danger"></span>
                    </div>

                </div>
                <br />
                <button type="submit" class="proauto-btn">Atualizar
                    Endereço</button>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
