@model ProAuto.DTOs.PesquisarDTO

@{
    ViewData["Title"] = "Pesquisar";
}

<h4>Pesquisar Associado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="pesquisar" method="post">
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control mascara-cpf" maxlength="14"/>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacaVeiculo" class="control-label"></label>
                <input asp-for="PlacaVeiculo" class="form-control" />
                <span asp-validation-for="PlacaVeiculo" class="text-danger"></span>
            </div>
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <div class="form-group">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
