@model ProAuto.DTOs.PesquisarDTO

@{
    ViewData["Title"] = "Pesquisar";
}

<div class="proauto-main">
    <section class="main-card">
        <header>
            <div class="main-card-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div>
                <span>
                    Pesquisar Associado
                </span>
            </div>
        </header>
        <div class="main-card-content">
            <form asp-action="pesquisar" method="post">
                <div class="proauto-form wid-100">
                    <label asp-for="CPF"></label>
                    <input asp-for="CPF" class="mascara-cpf" maxlength="14" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="proauto-form wid-100">
                    <label asp-for="PlacaVeiculo"></label>
                    <input asp-for="PlacaVeiculo" maxlength="7"/>
                    <span asp-validation-for="PlacaVeiculo" class="text-danger"></span>
                </div>
                <div class="min-h">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                
                <button type="submit" class="proauto-btn" >Pesquisar</button>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
